{erl_opts, [fail_on_warning, debug_info]}.

{lib_dirs, [".."]}.

{deps_dir, ".."}.
{deps, [
    {cecho, "0.0.3", {git, "git://github.com/mazenharake/cecho.git", "master"}},
    {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git", "master"}}
]}.

{cover_enabled, true}.
{xref_checks,   [undefined_function_calls]}.
