{erl_opts, [fail_on_warning, debug_info]}.

{lib_dirs, [".."]}.

{deps_dir, ".."}.
{deps, [
    {log4erl,  "0.9.0", {git, "git://github.com/ahmednawras/log4erl.git", "master"}},
    {mochiweb, "1.4.0", {git, "git://github.com/mochi/mochiweb.git",      "master"}},
    {cecho,    "0.0.3", {git, "git://github.com/mazenharake/cecho.git",   "master"}},
    {entop,    "0.0.1", {git, "git://github.com/mazenharake/entop.git",   "master"}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks,   [undefined_function_calls]}.
