{erl_opts, [fail_on_warning, debug_info]}.

{lib_dirs, ["deps"]}.

{deps, [
        {riak_err, ".*", {git, "git://github.com/basho/riak_err",
                          {branch, "master"}}},
        {log4erl, "0.9.0", {git, "git://github.com/ahmednawras/log4erl.git",
                            {branch, "master"}}},
        {mochiweb, "2.0.*", {git, "git://github.com/mochi/mochiweb.git",
                             {branch, "master"}}},
        {cecho, "0.0.3", {git, "git://github.com/mazenharake/cecho.git",
                          {branch, "master"}}},
        {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git",
                          {branch, "master"}}},
        {eper, ".*", {git, "git://github.com/massemanet/eper.git",
                      {branch, "master"}}}
       ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls]}.
