[
 %% sirenad config
 {sirenad, [
            {sirena_addr, "127.0.0.1"},
            {sirena_port, 34322},

            {listen_addr, "127.0.0.1"},
            {listen_port, 8888},

            {client_id,   1},
            {window_size, 1},
            {queue_len,   0},
            {retry_times, 0},
            {request_timeout, 100},

            {file_log_dir, "{{file_log_dir}}"},
            {file_log_size, 5000000}, % 5 MB
            {file_log_rotations, 4},
            {file_log_level, info},
            {console_log_level, debug}
           ]},

 %% sasl config
 {sasl, [
         {sasl_error_logger, {file, "{{sasl_error_log}}"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{sasl_log_dir}}"}, % Log directory
         {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
         {error_logger_mf_maxfiles, 5}         % 5 files max
        ]},

 %% riak_err config
 {riak_err, [
             {term_max_size, 10240}, % size limit of args combined
             {fmt_max_bytes, 10240}  % size limit of a formatted term
            ]}
].
